{% extends "base.html" %}
{% block title %} HOME {% endblock %}

{% block content %}
    {% include 'header.html' %}

<nav class="my_navbar sidebar s_resume">
    <a class="my_nav-link" href="#about">Про себе</a><br>
    <a class="my_nav-link" href="#education">Освіта</a><br>
    <a class="my_nav-link" href="#skills">Навички</a><br>
    <a class="my_nav-link" href="#experience">Досвід роботи</a><br>
    <a class="my_nav-link" href="#contact">Контакти</a>
</nav>

<section id="about">
    <h2>Про себе</h2>
    <img src="{{ url_for('static', filename='images/jaybe.jpg') }}" alt="Фото профілю" style="width:150px;">
    <p>Я — програміст із розумінням інженерії програмного забезпечення та досвідом роботи з різними технологіями. Моя мета — створювати інноваційні та ефективні програмні рішення, використовуючи найсучасніші методики і технології. Протягом останніх кількох років я працював над різноманітними проєктами, від створення веб-застосунків до розробки програм для обробки великих даних.</p>
</section>

<section id="education">
    <h2>Освіта</h2>
    <p>Я прямо зараз навчаюся на 3 курсі спеціальності <strong>Інженерія програмного забезпечення</strong>. Протягом навчання я здобув теоретичні знання та практичні навички у різноманітних сферах програмування та розробки програмного забезпечення, включаючи розробку на Java, Python, а також роботу з базами даних та фреймворками, такими як Spring Boot та Flask.</p>
</section>

<section id="skills">
    <h2>Навички</h2>
    <ul>
        <li><strong>Мови програмування:</strong> Python, Java, JavaScript, C++, PHP</li>
        <li><strong>Фреймворки та технології:</strong> Spring Boot, Flask</li>
        <li><strong>Інструменти:</strong> Git, PostgreSQL, MySQL</li>
        <li><strong>Інші навички:</strong> HTML, CSS</li>
    </ul>
</section>

<section id="experience">
    <h2>Досвід роботи</h2>
    <p>На даний момент досвіду поза університетськими проєктами немає(</p>
</section>

<section id="contact">
    <h2>Контакти</h2>
    <p>Зв'язатися зі мною можна за цими посиланнями:</p>
    <ul>
        <li><strong>Email:</strong> volodymyr.holovko.22@pnu.edu.ua</li>
        <li><strong>GitHub:</strong> <a href="https://github.com/VolodymyrGolovko" target="_blank">VolodymyrGolovko</a></li>
    </ul>
</section>
{% endblock %}